@font-face {
    font-family: head;
    /* src: url(/311b7f2775e42105e53e.ttf); */
    src: url(../311b7f2775e42105e53e.ttf);
}

@font-face {
    font-family: tail;
    src: url(../d77b39f40383b63d32e3.ttf);
}

#main {
    /* overflow: hidden; */
}

a {
    cursor: none;
}


* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: tail;
}

body {
    user-select: none;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}


#cursor {
    height: 1vw;
    width: 1vw;
    background-color: #ffffff;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(0%, 0%);
    background-position: center;
    background-size: cover;
    mix-blend-mode: difference;
}



button {
    cursor: none;
}


html,
body {
    scrollbar-width: none;
    cursor: none;
    height: 100%;
    width: 100%;
    color: white;
    background-color: rgb(20, 20, 20);
}

h1 {
    font-family: head;
}

/* #background {
    z-index: -10;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 50%);
    background-size: 400% 400%;
    transition: background-position 2s ease-out;

} */

#videoBG {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}


#navigate {
    display: flex;
    align-items: center;
    margin-left: 25%;
    /* justify-content: space-between; */
}

nav {
    width: 100%;
    padding: 1.5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav button {
    color: white;
    font-family: head;
}

#freelance {
    margin-right: 1.2%;
    border-radius: 20px;
    height: 5vh;
    width: 20vw;
    font-size: .8rem;
    padding: 0 20px;
    border: .05px solid rgb(255, 255, 255);
    background-color: transparent;
    border-radius: 3rem;
    overflow: hidden;
    transition: 0.2s transform ease-in-out;
    will-change: transform;

}

#freelance::after {
    background-color: rgb(255, 255, 255);
    border-radius: 3rem;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: 0.2s transform ease-out;
    will-change: transform;
    z-index: -1;
}

#freelance:hover::after {
    transform: translate(0, 0);
}

#freelance:hover {
    border: .1px solid transparent;
    color: #000000;
    transform: scale(1.05);
    will-change: transform;
}


nav button:hover {
    cursor: none;
}

#logo {
    margin-left: 2%;
    font-family: head;
    border: none;
    font-size: 3rem;
    background-color: transparent;
}

.nav-btns {

    border: none;
    background-color: transparent;
    font-size: .9rem;
    margin: 5px;
    padding: 20px;
}

.nav-btns::after {
    content: " ";
    position: absolute;
    background-color: white;
    height: 1px;
    width: 0;
    left: 0;
    bottom: -.1px;
    padding: 0 0px;
    transition: .3s;
}

.nav-btns:hover::after {
    width: 100%;
}

#nav-allbtns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

#page1-top {
    position: relative;
    min-height: 70vh;
    padding: 40px 5%;
    display: flex;
    justify-content: space-between;
}

#page1-top p {
    text-transform: uppercase;
    font-size: .8rem;
    font-family: tail;
    width: 25vw;
}

#arrow {
    font-size: .8rem;
}

#img-container img {
    right: 30%;
    height: 50vh;
    border-radius: 50px;
}

#page1-bottom {
    font-family: tail;
    font-weight: lighter;
    padding: 0 5%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    position: relative;
    bottom: 0;
    text-transform: uppercase;
    font-size: .8rem;

}

#page1-bottom p:nth-last-child(1) {
    width: 30vw;
}


#page1-bottom p span {
    transform: translateY(115px);
    transition: transform .5s;
    font-size: .8rem;
}


.line {
    width: 90%;
    height: 1px;
    margin: 0 auto;
    margin-top: 7%;
    background-color: rgb(255, 255, 255);
}


#pagetop {
    font-family: tail;
    font-size: .8rem;
    font-weight: lighter;
    padding: 10px 2%;
    margin: 0 40px;
    margin-bottom: -5%;
    display: flex;
    align-items: center;
    gap: 30vw;
}

#page2-main {
    margin-top: 20vh;
    margin-bottom: 20vh;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}


#page2-main p {
    text-transform: uppercase;
    font-size: .8rem;
}


#page2-main h2 {
    width: 55vw;
    font-size: 1.7rem;
    font-weight: lighter;
}


#page3-main {
    margin-top: 20vh;
    /* margin-bottom: 20vh; */
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}


#page3-main p {
    text-transform: uppercase;
    font-size: .8rem;
}

#page3-content {
    /* min-height: 100vh; */
    position: relative;
    z-index: 9;
    font-family: tail;
}


.page3-container {
    width: 55vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: lighter;
    height: 20vh;
}

.page3-container h4 {
    font-size: 1rem;
    font-weight: lighter;
}

#page4-content {
    /* min-height: 100vh; */
    position: relative;
    z-index: 9;
    font-family: tail;
}


#page4-main {
    margin-top: 20vh;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;
}


#page4-main p {
    text-transform: uppercase;
    font-size: .8rem;
}


#page4-main h2 {
    font-size: 1.5rem;
    width: 55vw;
    font-weight: lighter;
}

#page4-main h2 span {
    font-size: 2rem;
}

#page6 {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}

#page6-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#connectbox {
    border-radius: 30px;
    background-color: rgba(12, 12, 12, 0.718);
    width: 60%;
    color: rgb(255, 255, 255);
    margin-top: 15vh;
    margin-bottom: 20px;
    padding: 50px;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    border: .1px solid rgba(255, 255, 255, 0.248);
}

#connectbox h2 {
    font-family: head;
    font-size: 1rem;
    font-weight: lighter;
}

#connectbox h1 {
    font-size: 3rem;
}

#socials {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

.social-div:hover h1 {
    transform: translateY(-100%);
    cursor: none;
}

.social-div h1 {
    font-size: 2rem;
    transition: all ease-out 0.3s;
}

.social-div {
    margin-top: 10px;
    height: 50px;
    overflow: hidden;
    position: relative;
}

.social-div a {
    text-decoration: none;
    color: white;
}

.eyes {
    display: flex;
    justify-content: center;
}

.eye {
    width: 150px;
    height: 150px;
    background: #fff;
    margin: 20px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    animation: blink 3s infinite;
}

.ball {
    width: 40px;
    height: 40px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 10px solid #6d6875;
}

@keyframes blink {

    0%,
    100% {
        transform: scale(1, 0.05);
    }

    5%,
    95% {
        transform: scale(1, 1);
    }
}


h4 {
    text-transform: uppercase;
    font-family: tail;
    font-size: .8rem;
    font-weight: lighter;
}

#message {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#landscapeOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black background */
    z-index: 9998;
    /* Ensure the overlay is behind the message */
}

#landscapeMessage {
    display: none;
    /* Initially hide the message */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    z-index: 9999;
}

@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {

    /* Hide the main content, cursor, and loader */
    #main,
    #cursor,
    #loader {
        display: none;
    }

    /* Show the landscape message */
    #landscapeMessage {
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        /* Ensure it's fixed on the screen */
        top: 50;
        left: 50;
        width: 100%;
        height: 100%;
        text-transform: uppercase;
        font-family: tail;
        font-size: 2rem;
        background: none;
        border: none;
        /* You can add additional styling as needed */
    }
}




/* For screens smaller than 768px (typical iPad portrait mode) */
@media (min-width: 769px) and (max-width: 1024px) {
    #videoBG {
        display: none;
    }

    #cursor {
        display: none;
    }

    #main {
        cursor: none;
    }

    #page1-top {
        display: flex;
        flex-direction: column;
    }


    #img-container {
        display: flex;
        justify-content: center;
    }

    #page1-top img {
        justify-content: center;
        height: 50vw;
        width: 70vw;
    }

    #page4-main h2 {
        font-size: .7rem;
        width: 55vw;
        font-weight: lighter;
    }

    #page4-main h2 span {
        font-size: 2.5rem;
    }

    #page4 {
        margin-bottom: 10vh;
    }

}


/* For screens smaller than 600px (typical phone screens) */
@media only screen and (max-width: 600px) {
    #cursor {
        display: none;
    }

    #main {
        cursor: none;
        overflow: hidden;
        width: 100%;
    }

    .hamburger {
        display: block;
        margin-right: 10px;
        cursor: pointer;
    }

    .bar {
        width: 25px;
        height: 3px;
        background-color: rgb(255, 255, 255);
        margin: 5px 0;
        transition: 0.4s;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


    #nav-allbtns button {
        font-size: 1.5rem;
    }


    #navigate {
        justify-content: center;
        margin-left: 0vw;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
    }

    #navigate button {
        font-size: 3rem;
        margin: 50px;
        gap: 100px;
    }

    #nav-allbtns {
        height: 85vh;
        width: 100%;
        left: -100%;
        top: 60px;
        z-index: 10;
        position: fixed;
        flex-direction: column;
        color: #ffffff;
        background-color: rgb(0, 0, 0);
        transition: 0.3s;
    }

    #logo {
        font-size: 2.5rem;
    }



    #nav-allbtns.active {
        left: 0;
        background-color: rgb(0, 0, 0);

    }

    #freelance {
        margin-right: 1.2%;
        border-radius: 20px;
        font-size: .8rem;
        padding: 0 10px;
        border: 1px solid rgb(255, 255, 255);
        background-color: transparent;
    }


    #page1-top {
        display: flex;
        flex-direction: column;
    }

    #page1-top p {
        width: 70vw;
    }


    #img-container {
        display: flex;
        justify-content: center;
    }

    #page-top {
        margin-top: 10vh;
    }

    #page1-top img {
        justify-content: center;
        height: 50vw;
        width: 70vw;
    }

    #page1-bottom p {
        font-size: .5rem;
    }


    #page1-bottom p span {
        font-size: .6rem;
    }

    #page2-main {
        display: flex;
        flex-direction: column;
    }

    #page2-main p {
        margin-top: -10vh;
    }

    #page2-main h2 {
        margin-top: 10vh;
        width: 90vw;
        font-size: 1.5rem;
    }

    #page3-main {
        display: flex;
        flex-direction: column;
    }

    #page3-main p {
        margin-top: -10vh;
        margin-bottom: 10vh;
    }


    .page3-container {
        width: 90vw;
        margin-bottom: 5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        font-size: 1.2rem;
        font-weight: lighter;
        height: 15vh;
    }

    .page3-container h4 {
        margin-bottom: -15vh;
        font-size: 1rem;
        font-weight: lighter;
    }

    .page3-container h3 {
        margin-top: -20vh;
    }

    #page4-main h2 {
        font-size: .7rem;
    }

    #page4 {
        margin-bottom: 10vh;
    }

    #connectbox {
        width: 90%;
        margin-bottom: 10vh;
    }

    #connectbox h2 {
        font-family: head;
        font-size: 1rem;
    }

    #connectbox h1 {
        font-size: 2rem;
    }

    #socials {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .social-div:hover h1 {
        transform: translateY(-100%);
        cursor: none;
    }

    .social-div h1 {
        font-size: 2rem;
        transition: all ease-out 0.3s;
    }

    .social-div {
        margin-top: 2%;
        margin-bottom: 3%;
        height: 50px;
        overflow: hidden;
        position: relative;
    }

    .social-div a {
        text-decoration: none;
        color: white;
    }

    .eyes {
        margin-top: 30px;
        /* Add margin to create space between eyes and socials */
        display: flex;
        justify-content: center;
    }

    .eye {
        margin: 5px;
        width: 200px;
        height: 100px;
        background: #fff;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        animation: blink 3s infinite;
    }


    #socials {
        width: 100%;
    }

    .social-div h1 {
        font-size: .9rem;
    }

    .social-div {
        height: 20px;
    }

    h4 {
        text-transform: uppercase;
        font-family: tail;
        font-size: .5rem;
        font-weight: lighter;
    }

    #message {
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #videoBG {
        display: none;
    }




}